body {
    font-family: sans-serif;
}

h1 {
    font-family: serif;
    color: teal; 
    margin-bottom: 10px;
}


.title {
    font-family: monospace;
}

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#main-nav li{
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: skyblue;
    padding: 10px 35px 0 5px;
    border-radius: 5px;
    text-decoration:none;
}

.nav .featured {
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}

.footer {
    color: #666;
    background-color: #ccc;
    padding: 1 5px 0;
    text-align: center;
    font-size: 14px
}

.footer a {
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
}